table.table {
	table-layout: fixed;
}

div.key {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
}

div.key > div {
	display: flex;
	flex-direction: row;
	padding: 0 6px;
}

span.status {
	padding: 0 8px;
	cursor: pointer;
}

.event {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	padding: 5px 0;
}

.eventHeader {
	display: flex;
	flex-direction: row;
}

.eventName {
	margin-block-start: 0;
    margin-block-end: 0;
}

a.eventTitle {text-decoration: none}
a.eventTitle:link {text-decoration: none}
a.eventTitle:visited {text-decoration: none}
a.eventTitle:hover {text-decoration: none}
a.noEvent {
	color: black
}

.table td > div {
	word-wrap: break-word;
	height: 100%;
}

.table th.firstColumn {
	width: 100px;
}

td.cell:hover {
	background-color: #ffebb9 !important;
}

td.today {
	background-color: peachpuff !important;
}


/* Tooltip */

.toolContainer {
	position: relative;
	display: inline-block;
  }

.toolContainer .tooltip {
	visibility: hidden;
	max-width: 200px;
	min-width: 40px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 10px;
	position: absolute;
	z-index: 2;
	bottom: 125%;
	left: 50%;
	margin-left: -50%;
	opacity: 0.8;
}

.toolContainer .tooltip::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.toolContainer:hover .tooltip {
	visibility: visible;
}