.profile {
	display: grid;
	grid-template-columns: 0.5fr 1fr 2fr;
	margin: 20px 0;
}

.profile .thumbnail {
	margin: 10px 0;
}

.leftPane {
	padding: 0 10px;
	box-sizing: border-box;
}

.text {
	margin: 10px 0;
}

.profile > div {
	width: 100%;
	overflow-wrap: break-word;
}

.profile div {
	white-space: pre-wrap;
}

.thumbnail {
	max-height: 100px;
}