.profile {
	display: grid;
	grid-template-columns: 0.5fr 1fr 2fr;
	margin: 20px 0;
}

.profile .thumbnail {
	margin: 10px 0;
}

.leftPane {
	padding: 0 10px;
	box-sizing: border-box;
}

.text {
	margin: 10px 0;
}

.profile > div {
	width: 100%;
	overflow-wrap: break-word;
}

.profile div {
	white-space: pre-wrap;
}

.thumbnail {
	max-height: 100px;
}

.board {
	display: flex;
	justify-self: center;
	flex-direction: column;
	justify-content: center;
}

/* CONTACT FORM */



.input,
.textarea {
	border: 1px solid gray;
}

.contactForm {
	visibility: visible;
}

.contactTable th {
	width: 25%;
}

.contactTable .input {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.contactTable .textarea {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	resize: none;
}

/* ImageBoxes */

.grid {
	visibility: visible;
}
.grid > div > div > div {
	margin: 2px!important;
}

.carousel {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 20px 0 0 0;
	width: 100%;
	align-self: center;
	margin: auto;
}
	
.carousel > div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.carousel div img {
	width: 100%;
	display: block;
	max-width: 100vw;
	margin: 0;
}

.carousel div:hover {
	cursor: pointer;
}

.jotform {
	overflow: hidden;
}