.footer {
	display: grid;
	row-gap: 10px;
	margin-bottom: 20px;
}

.icons {
	display: flex;
	flex-direction: horizontal;
	height: 50px;
	justify-content: center;
}

.link {
	padding: 0 15px;
}

.image {
	height: 50px;
}

.image:hover {
	opacity: 0.6;
}

.tag {
	display: flex;
	justify-content: center;
	font-family: 'Josefin Sans';
	font-weight: 500;
}