.header {
	height: 140px;
	z-index: 1;
}

.inner_header {
	height: 90px;
}

.links {
	display: none;
}

.oucc_logo {
	float: left;
	width: 140px;
	height: 140px;
	display: block;
	background: url('/oucc-frontend/images/oucclogo.jpg') center top no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
}

.oucc_logo:hover {
	background-position: 0px -141px;
}

.nav {
	list-style-type: none;
	height: 65px;
	font-size: 0;
	width: 1080px;
	background: #ff2200;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

.nav li {
	display: inline-block;
	padding: 25px 0px;
	height: 100%;
	font-size: 24px;
	line-height: 100%;
	cursor: pointer;
}

.nav li a {
	padding: 50% 25px 15px;
	border: none;
	outline: none;
	text-decoration: none;
	color: white;
	-webkit-tap-highlight-color: white;
}

.nav li:hover {
	background: #002147;
}

.banner {
	height: 90px;
	background: #002147;
	position: relative;
	width: 1080px;
	margin: auto;
	border-bottom: 1px solid gray;
}

.subnav_container {
	position: relative;
	width: 1080px;
	margin: auto;
}

.subnav {
	list-style-type: none;
	height: 49px;
	font-size: 0;
	position: absolute;
	left: 140px;
	width: 940px;
	border-bottom: 1px solid gray;
	background: #f8f8f8;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

.subnav li {
	padding: 9px 20px 0;
	display: inline-block;
	border-right: 1px solid gray;
	cursor: pointer;
}

.subnav li a {	
	color: black;
	font-size: 20px;
	line-height: 40px;
}

.subnav li:hover {
	background: white;
}

.subnav li.selected {
	background: white;
	padding-bottom: 1px;
}

.subnav #empty {
	width: 860px;
	background: white;
	border-right: 0;
	cursor: auto;
}