.header {
	min-height: 140px;
	z-index: 1;
	display: grid;
	grid-template-rows: 90px 50px;
	overflow-y: visible;
}

.bannerContainer {
	min-height: 90px;
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	grid-row: 1;
	margin: 0;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	align-items: flex-start;
	position: fixed;
	z-index: 1;
}

.banner {
	display: grid;
	grid-template-columns: 1fr 140px 1fr;
	height: 90px;
	min-width: 100vw;
	grid-row: 1;
	margin: 0;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	background-color: #002147;
	color: white;
}

.nav {
	display: flex;
	flex-direction: row;
	height: 65px;
	overflow-y: visible;
	font-size: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100%;
	background: #ff2200;/*
	background-size: 65px 65px;
	background-position: 0 0, 32.5px 32.5px;
	background-image: linear-gradient(45deg, #002147 25%, transparent 25%, transparent 75%, #002147 75%, #002147),
					  linear-gradient(45deg, #002147 25%, transparent 25%, transparent 75%, #002147 75%, #002147);*/
}

.listing {
	display: flex;
	flex-direction: column;
	height: 65px;/*
	border-left: 1px solid gray;
	border-right: 1px solid gray;*/
	background: #ff2200;
}

.left {
	grid-column: 1;
	margin: 0 0 0 auto;
	justify-content: flex-end;
}

.right {
	grid-column: 3;
	margin: 0 auto 0 0;
	justify-content: flex-start;
}

.dropDown {
	width: inherit;
}

.oucc_logo {
	grid-column: 2;
	width: 140px;
	height: 140px;
	display: block;
	background: center top no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}

.oucc_logo:hover {
	background-position: 0px -141px;
}

.listing > div.dropParent {
	display: flex;
	align-items: center;
	height: 65px;
	font-size: 24px;
	padding: 0 40px;
	cursor: pointer;
	border-right: 5px solid #ff2200;
}

.listing > div.dropParent:hover {
	border-right: 5px solid #002147;
}

.listing > div.dropParent > a {
	display: flex;
	align-items: center;
	height: 65px;
	margin: 0;
	vertical-align: top;
}

.nav a {color: white}
.nav a:link {text-decoration: none}
.nav a:visited {text-decoration: none}
.nav a:active {text-decoration: none}
.nav a:hover {text-decoration: none}
.nav div:hover {
	background: #002147;
}

.subnav {
	display: flex;
	flex-direction: column;
	grid-row: 2;
	list-style-type: none;
	background: gray;
	width: inherit;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.subnav li {
	height: 65px;
	padding: 9px 20px 0;
	cursor: pointer;
	border-right: 5px solid gray;
}

.subnav li a {
	display: flex;
	align-items: center;
	color: white;
	font-size: 20px;
	height: inherit;
}

.subnav li:hover {
	background: #002147;
	border-right: 5px solid green;
}

.subnav li.selected {
	background: #002147;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-right: 5px solid red;
}

.newsFeed {
	grid-row: 2;
	height: 50px;
	display: flex;
	align-items: center;
	box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
	position: relative;
	overflow: none;
}

.newsFeed div.intro {
	padding: 0 15px 0 30px;
	min-width: 120px;
	border-right: 1px solid black;
}

.newsFeed div.runner {
	display: flex;
	flex-direction: row;
	overflow: scroll;
	white-space: nowrap;
	margin: 0 30px 0 0;
	font-size: 12;
	border-right: 1px solid black;
	max-width: calc(100vw - 210px)
}

.newsFeed div.runner > div {
	display: inherit;
}

.newsFeed div.runner a {
	padding: 0 20px;
}

/* MOBILE HEADER */

div.mobileHeader {		
	min-height: 35px;
	grid-template-rows: 35px;
}
div.mobileContainer {
	min-height: 35px;
}
div.mobileBanner {
	height: 35px;
}

.mobileTextContainer {
	grid-column: 1 / span 3;
	color: white;
	height: 35px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* MOBILE MENU */

.mobileMenu {
	z-index: 1;
	position: fixed;
	bottom: 30px;
	right: 30px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.mobileLinks {
	display: flex;
	flex-direction: column;
	visibility: visible;
}

.mobileLinksShown {
	animation: expand-up 0.5s forwards;
}

.mobileLinksHidden {
	animation: contract-down 3s forwards;
}

@keyframes expand-up {
	from {
		transform: translate(0, 80%) scale(1, 0);
	}
	to {
		transform: translate(0, 0%) scale(1, 1);
	}
}

@keyframes contract-down {
	from {
		transform: translate(0, 0%) scale(1, 1);
	}
	to {
		transform: translate(0, 80%) scale(1, 0);
	}
}

.mobileThumbContainer {
	z-index: 2;
	height: 120px;
	width: 120px;
	overflow: hidden;
	background-position: 0px 0px;
	cursor: pointer;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}

.mobileThumbContainer > img {
	width: 120px;
}

.mobileSection {
	display: flex;
	flex-direction: column;
	background-color: #ff2200;
	width: 120px;
}

.mobileSection > div {
	display: flex;
	min-height: 30px;
	border: 1px gray solid;
	box-sizing: border-box;
}

.mobileSection .dropParent {
	display: flex;
	flex-direction: column;
	padding: 10px 10px 10px 0;
	width: 100%;
	box-sizing: border-box;
	text-align: right;
	justify-content: center;
	color: white;
}

.mobileSection .dropChild {	
	background-color: #002147;
}